@CHARSET "UTF-8";

@import "compass/css3";



@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);





.table {
  background-color:#ffffff; 
  height:800px;
  width:100%;
}

.table ul li {
  float:left;
  width:199px;
  text-align:center;
  border-left:1px solid #DDDCD8;
}

.top {
  background-color:#EAE9E4;
  height:75px;
  h1 {
    padding-top:20px;
  }
}

.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:20px;
  color:#fff;
  line-height:60px;
  text-align:center;
  background:#FF8000;
  margin-left:70px;
  margin-top:10px;
}

.bottom {
margin-top:50px;
  p {
     font-size:13px;
     font-family: 'Droid Serif', sans-serif;
     padding:5px;
    span {
     font-weight:bold;
    }
  }
}

.sign {
  margin-top:50px;
}

.button {
   border: 1px solid #DDDCD8;
   padding: 10px 40px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #FF8000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
    font-size:17px;
   }

.purple {
  background-color:#5D4660;   
}

.white {
 color:#FFFFFF; 
}

.pink {
  background-color:#BC9B94;
}
